h2 {
    color: darkblue
}

.extrainfo {
    margin-top: 4vh;
    width: 735px;
    text-align: left;
}

.contactinfo {
    font-style: italic;
}

/* unvisited link */
a:link {
    color: white;
} 
/* visited link */
a:visited {
    color: white;
}
/* mouse over link */
a:hover {
    color: red;
}
/* selected link */
a:active {
    color: cyan;
}

.imgsize {
        width:  735x;
        height: 500px;
        object-fit: scale-down;
}   

